<html>
    <head>
        <meta charset="utf-8" />
        <title>Super Chat !</title>
    	<link rel='stylesheet' href='/stylesheets/style.css' />
    </head>

    <body style="font-family:Verdana">

      <div class="container">
        <div class="row " style="padding-top:40px;">
            <h3 class="text-center" >Un super chat !</h3>
            <br /><br />

            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Fenetre de discussion
                    </div>

                <ul class="media-list" id="zone_chat">

                </ul>
                     <div class="panel-footer">
                        <div class="input-group">
                            <form action="/" method="post" id="formulaire_chat">
                              <input type="text" class="form-control" name="pseudo" id="pseudo" placeholder="Votre pseudo..." size="50" autofocus />
                              <input type="text" class="form-control" name="message" id="message" placeholder="Votre message..." size="50"/>
                              <span class="input-group-btn"><input  class="btn btn-lg btn-info" type="submit" id="envoi_message" value="Envoyer" /></span>
                            </form>
                        </div>
                    </div>
                 </div>
            </div>

            <div id="messages" class="col-md-12">
              <% for (var i=messages.length-1; i>=0; i--) { %>
                <div class="mess">
                  <img src="http://www.gravatar.com/avatar/%7Bmd5email%7D?s=50&d=mm">
                  <div class="mess-corps">
                    <h3><%= messages[i].pseudo %>: </h3>
                    <p><%= messages[i].message %></p>
                  </div>
                  <p class="date"><%= messages[i].dateFormated %></p>
                </div>
                </br>
              <% } %>
            </messages.length;>
            </div>
        </div>
  </div>


        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="/javascripts/script.js"></script>
    </body>
</html>
